.layout {
  background-color: #d6dbd9;
}
.nav {
  background-color: rgb(0, 147, 133);
  height: 138px;
}
.box {
  height: 90vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
  position: relative;
  z-index: 10;
  margin-left: 100px;
  margin-top: -120px;
  margin-right: 100px;

  /* margin-bottom: 50px; */
}
